.totalcount-menu {
     background: linear-gradient(90deg, #ff9900, #732cc9);
     color: white;
     padding: 10px 0;
}

.totalcount-menu ul {
     list-style: none;
     display: flex;
     justify-content: space-around;
     padding: 0;
}

.totalcount-menu li {
     margin: 0;
}

.totalcount-menu a {
     text-decoration: none;
     color: #fff;
     font-weight: bold;
     font-size: 16px;
     transition: color 0.3s ease;
     position: relative;
}

.totalcount-menu a::after {
     content: '';
     position: absolute;
     width: 0;
     height: 2px;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
     background-color: #FFC107;
     transition: width 0.3s ease;
}

.totalcount-menu a:hover::after {
     width: 100%;
}


header {
     background: linear-gradient(90deg, #ff9900, #732cc9);
     color: #fff;
     padding: 20px 0;
     text-align: center;
}

.header-logo {
     width: 250px;
     height: auto;
     margin: 0 auto;
     display: block;
}

.navbar ul {
     list-style: none;
     display: flex;
     justify-content: center;
     padding: 0;
}

.navbar li {
     margin: 0 20px;
}

.navbar a {
     text-decoration: none;
     color: #fff;
     font-weight: bold;
     font-size: 18px;
     transition: color 0.3s ease;
}

.navbar a:hover {
     color: #ff9900;
}

.button {
     display: inline-block;
     padding: 10px 20px;
     background-color: #ff9900;
     color: #fff;
     text-decoration: none;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
     margin: 0 10px;
}

.button:last-child {
     margin-right: 0;
}

.button:hover {
     background-color: #732cc9;
}

.totalcount-menu ul {
     list-style: none;
     display: flex;
     justify-content: space-around;
     padding: 0;
}

.totalcount-menu li {
     margin: 0;
}

.totalcount-menu a {
     text-decoration: none;
     color: #fff;
     font-weight: bold;
     font-size: 16px;
     transition: color 0.3s ease;
}

.totalcount-menu a:hover {
     color: #FFC107;
}

body {
     background: linear-gradient(90deg, #ff9900, #732cc9);
     margin: 0;
     margin-top: 3rem;
     padding: 0;
}
