h1 {
    text-align: center;
}

form {
    max-width: 400px;
    margin:  auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 1rem;
    background-color: rgb(232, 229, 229);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    animation: pulse 2s infinite alternate;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 15px rgba(34, 0, 255, 0.7);
    }
    50% {
        box-shadow: 0 0 15px rgb(238, 209, 2);
    }
    100% {
        box-shadow: 0 0 15px rgb(255, 0, 0);
    }
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 24REM;
    padding: 0.5REM;
    margin-bottom: 1REM;
    border: 1px solid #ccc;
    border-radius: 0.6rem;
}

input[type="checkbox"] {
    margin-left: 5px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}