{% extends 'base.html.twig' %}
{% block title %}Hello DefaultController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/button.css') }}">
{% endblock %}
{% block body %}
    <header>

        <img src="{{ asset('../../image/logooo-removebg-preview.png') }}" alt="Logo" style="width: 250px; height: auto;">
        <nav class="totalcount-menu">
            <ul>
                <li><a href="#">Tableau de bord</a></li>
                <li><a href="#">Événements</a></li>
                <li><a href="#">Amis</a></li>
                <li><a href="#">Paramètres</a></li>
            </ul>
        </nav>
    </header>
    <div class="centered-button">
        <a href="{{ path('app_register') }}" class="button signup-button">Inscription</a>
        <a href="" class="button login-button">Connexion</a>
    </div>
{% endblock %}
