{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}


    <header>
        <nav>
            <ul>
                <li>Accueil</li>
                <li>À propos</li>
                <li>Contact</li>
            </ul>
            <div class="auth-links">
                {% if app.user %}
                    <a href="#">Déconnexion</a>
                {% else %}
                    <a href="#">Inscription</a>
                    <a href="#">Connexion</a>
                {% endif %}
            </div>

        </nav>
    </header>
<div class="example-wrapper">
    <h1> Hello {{ controller_name }}! ✅</h1>
</div>
{% endblock %}
